/*.movesTable {*/
/*    display: flex;*/
/*    justify-content: flex-end;*/
/*}*/

/*.move_table {*/
/*    float: left !important;*/
/*}*/

.board_row {
    justify-content: center;
    display: flex;
    flex-direction: row;
}
