.not_finish {
    visibility: hidden;
}

.finish {
    display: flex;
    justify-content: flex-end;
}

.page_content {
    margin-top: 5%;

    /*border: 1px solid green;*/
}

.template_page {
    min-height: 100vh;
    padding-top: 10%;
}

/*.header_text {*/
/*    padding-top: 8%;*/
/*}*/

.load_template_content {
    margin-top: 4%;
}

.upload_template {
    padding-top: 5%;
}