.selected_img {
    border: solid 1px #7b1fa2;
    box-shadow: 0 0 6px 0 rebeccapurple;
}

.num {
    justify-content: center;
    display: flex;
    margin-top: 10px;
}
.templates {
    justify-content: center;
    display: flex;
}

.col_img {
    flex-direction: column;
    /*justify-content: center;*/
    display: flex;
}