.background_photo {
    /*width: 100%;*/
    /*min-height: 100%;*/
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
    background-color: #eef0ef;

    max-width: 100%;
    height: 100vh;
    /*background-size: 100% 100%;*/
    /*background-repeat: no-repeat;*/
    /*position: relative;*/

}














.main_page {
    background-color: #eef0ef;
}

.buttons {
    flex-direction: row;
    display: flex;
    justify-content: center;
}

/*Butttons*/


.bottom_frontpage {
    color: white !important;
    background-color: #7b1fa2 !important;
    border-color: #7b1fa2 !important;
}
/*-------------*/

.main_page_content {
    position: absolute;
    margin-top: 12%;
    margin-left: 40% !important;
    text-align: center;
}
