.cont {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: solid 1px #bebbbb;
    background-color: #f5f5f5;
}
.col_img {
    justify-content: center;
    display: flex;
}

.invisible {
    width: 0;
    height: 0;
}

.all_btn {
    justify-content: center;
    display: flex;
    align-items: center;
}

.btn_secondary {
    background-color: #343a40!important;
}

.hidden_btn {
    visibility: hidden;
}

.finish {
    justify-content: flex-end !important;
    display: flex !important;
    align-items: flex-end !important;
    background-color: #343a40 !important;
}
