/*.cnt_move {*/
/*    font-weight: bold;*/
/*    width: 40px !important;*/
/*}*/

.edit {
    cursor: pointer;
}

.selected {
    background-color: #e3e0e0;
    /*position: sticky;*/
    /*margin-bottom: 30% !important;*/

}

/*.tableLine {*/
/*    font-size: 13px;*/
/*}*/

/*.sctable {*/
/*    !*height: 300px;*!*/
/*}*/

/*.table {*/
/*    !*height: 513px;*!*/
/*}*/

.cardMoves {
    /*width: 100%;*/
    min-height: 450px;
    max-height: 450px !important;
    min-width: 400px;

}

.bodycard {
    overflow: scroll;
    overflow-y: auto;
    overflow-x: auto;
    text-align: left;
}

.header_content {
    flex-direction: row;
    justify-content: space-between;
    display: flex;
}

.header {
    /*position: fixed;*/
    /*width: 100%;*/
    /*color: #d7d3d3;*/
    /*background-color: rgba(245, 245, 245, 1);*/
    /*position: sticky;*/
    /*top: 0;*/
    /*width: 5%;*/
    /*z-index: 100;*/
    /*opacity: 1 !important;*/
    /*padding-top: 3%;*/
    /*padding-left: 3%;*/
    /*margin-bottom: 5%;*/

    /*border: 1px solid red;*/
    /*opacity: 100%;*/
}
/*.header {*/
/*    !*position: fixed !important;*!*/
/*    !*width: 100%;*!*/
/*    !*z-index: 100;*!*/
/*    !*background-color: #343a40 !important;*!*/
/*}*/

/*.blackMoves {*/
/*    background-color: #f1f0f0 !important;*/
/*}*/
/*!*Scroll bar*!*/

/* width */
::-webkit-scrollbar {
    width: 15px;
    overflow: hidden;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #343a40;
    overflow: hidden;
    /*border-radius: 5px;*/
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #343a40;
    border-radius: 5px;
    overflow: hidden;
}
