.stepper a {
    text-decoration: none !important;
    padding: 0 !important;
    line-height: 40.5px !important;
    /*width: 50px !important;*/
}

.stepper div div{
    /*border: 1px solid red;*/
}

.stepper span{
    line-height: 40.5px !important;
}

.stepper {
    /*border: solid 1px red;*/
    width: 100% !important;
}
