













.bottom_frontpage {
    justify-content: center;
    display: flex;
}


.number_right {
    justify-content: flex-end;
    display: flex;
    text-align: right;
    background-color: #f5f5f8;
}



.img_right {
    width: 30%;
    float: right;
}

.img_photo {
    width: 25%;
    float: right;
}

.img_upload {
    width: 25%;
    float: right;
}

.img_board {
    width: 27%;
    float: left;
}

.img_left {
    width: 30%;
    float: left;
}

.number {
    width: 100px;
    height: 100px;
}

