[hidden] {
    display: none !important;
}

.custom_button {
    width: 100px;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.my_btn {
    border: 2px solid #7b1fa2;
    color: #7b1fa2;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer !important;
}

.upload-btn-wrapper {
    cursor: pointer !important;
}


.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}