.footer {
    background-color: #343a40 !important ;
    /*height: 15% !important;*/
    color: white;
    align: center;
    padding: 5% 10% 5% 10%;
    /*padding-bottom: 10% !important;*/
    /*margin-bottom: 0 !important;*/
}