.navbarCustom {
    /*text-align: center;*/
    position: fixed !important;
    top: 0;
    lef: 0;
    right: 0;
    /*height: 40px;*/
    /*padding-top: 15px;*/
    box-shadow: 0px 0px 8px 0px;
    -webkit-box-shadow: 0px 0px 8px 0px;
    -moz-box-shadow: 0px 0px 8px 0px;
    /*background-color: gray;*/
    width: 100%;
    z-index: 100;
}